* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* Styling from the body */
.body {
  width: 100%;
  height: 400vh;
  /* background: red; */
}

/* Grid System */
.gridBody {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 3% 24% 63% 10%;
  grid-template-areas: "one" "two" "three" "four";
  /* width: 100vw; */
  height: 400vh;
}

/* GRIDING COMPONENTS */
.firstGrid {
  grid-area: one;
  /* background: red; */
}
.secondGrid {
  grid-area: two;
  background: green;
}
.thirdGrid {
  grid-area: three;
  /* background: pink; */
}
.fourthGrid {
  grid-area: four;
  background: yellow;
}
/* End of GRIDING COMPONENTS */

/* Listed tabs for navigation names*/
.list li:hover {
  color: yellow;
  transition: 1.5s;
  transform: scale(1.4) skew(3deg);
}
/* End of Listed tabs for navigation names*/

/* for only swiper */
.mySwiper {
  height: 100%;
}
